---
layout: layout
---

<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'zouzhen',
    repo: 'https://github.com/zouzhen/ZOUZHEN.github.io',
    oauth: {
        client_id: '00bc648e2633d20c85e6',
        client_secret: 'e0533231193f1932dc1a9c8070c9eff7d42d3529',
    },
});
gitment.render('gitmentContainer');
</script>
{% assign __ = site.data.languages[site.language] %}
{% include post.html %}
